
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Express</title>
    <link rel="stylesheet" href="/css/styles.css">

  </head>
  <body>
    <div class="landing-splash landing-splash--about" >
      <h1 class="landing-splash__title">About <small>BouCollective</small></h1>
      <h5 class="landing-splash__subtitle">[ Under Construction ]</h5>
    </div>
  </body>
</html>
