<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Express</title>
    <link rel="stylesheet" href="/css/styles.css">

  </head>
  <body>
    <div class="landing-splash" >
      <h1 class="landing-splash__title">BouCollective</h1>
      <h5 class="landing-splash__subtitle">[ Under Construction ]</h5>
      <p>&copy; 2008 - <%= copyright %> </p>
    </div>
  </body>
</html>
