<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Express</title>
    <link rel="stylesheet" href="/css/styles.css">

  </head>
  <body>
    <div class="landing-splash" >
      <h1 class="landing-splash__title">BouCollective</h1>
      <div class="landing-splash__buttons-container">
        <a class="landing-splash__button" href="/about">About</button>
        <a class="landing-splash__button" href="/listings">Listings</a>
      </div>
      <p class="landing-splash__copyright">&copy; 2008 - <%= copyright %> </p>
    </div>
  </body>
</html>
