<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dev Jobs</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div id="app-container">
      <!-- all the react app goes here!  -->
    </div>

    <!--
       will link to /js/bundle.js in 'development'
        OR  /js/bundle.min.js in 'production'

        NOTE: to create production bundle: npm run build BEFORE deploy   
     -->
    <% var envFilename = process.env.NODE_ENV === 'production' ? 'bundle.min.js' : 'bundle.js' %>
    <script src="/js/<%=envFilename%>"></script>
  </body>
</html>
